html,
body,
#app,
#page {
  height: 100%;
  width: 100%
}

html,
body,
div,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

img {
  font-size: 0;
}

input {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

.dib {
  display: inline-block;
}